<div class="col-xs-12 col-sm-12 col-md-12 hidden">
  <%= form_tag(dashboard_access_delete_path(@laboratory.initials), method: "delete") do %>
    <%= text_field "biometric_revoke", nil,name: "authorized_person[biometric]", :readonly => "true"%>
    <%= text_field "user_id_revoke", nil,name: "authorized_person[user_id]", :readonly => "true"%>
    <%= text_field "laboratory_id_revoke", nil,name: "authorized_person[laboratory_id]",value: @laboratory.id, :readonly => "true"%>
    <button id="commitdelete_" name="biometric" type="submit" class="h"></button>
  <% end %>
</div>


<!-- page content -->
<%= render "new_authorized_person" %>
<div class="right_col" role="main">
  <div class="">
    <div class="row">
      <% if not @laboratory.function.include? "e"%>
        <% hidden = "hidden-xs hidden-md hidden-xl" %>
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
          <strong>Que loucura!</strong> Acreditamos que este laboratório não possui essa opção disponível.
        </div>
      <% else %>
        <% hidden = "" %>
      <% end %>
      <div class="col-md-12 col-sm-12 col-xs-12 <%= hidden %>">
        <div class="x_panel">
          <div class="x_title">
            <h2>Acesso Autorizado</h2>

            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-7 col-sm-6"><strong>Nome</strong></div>
            <div class="col-xs-5 col-sm-6"><strong>Revogar Acesso</strong></div>
          </div>

          <div class="clearfix"></div>

          <% @authorized_people.each do |a| %>
            <div class="row-info col-xs-12 col-sm-12 col-md-12">
              <div class="col-xs-7 col-sm-6"><%= a.name %></div>
              <div class="col-xs-5 col-sm-6" data-toggle="tooltip" title="Remove acesso permantente do laboratório" id="symbol_access" >
                <button data-lab="<%= @laboratory.id %>" onclick="revoke_access(this)" data-user="<%= a.id %>" id="revoke-access-btn" class="btn btn-danger btn-sm">
                  <i class="fa fa-minus-square"></i>
                </button >
              </div>
            </div>
          <% end %>

          <div class="clearfix"></div>

          <div style="margin-top: 1em">
            <div class="col-xs-4 col-sm-4"></div>
            <div class="col-xs-4 col-sm-4">
              <div id="grant-access-btn" data-toggle="tooltip" title="Concede uma autorização para uma pessoa cadastrada" class="btn btn-success btn-xs">
                Conceder Acesso
                <i class="fa fa-plus-square"></i>
              </div>
            </div>
            <div class="col-xs-4 col-sm-4"></div>
          </div>

          <div class="x_content">
            <br />
          </div>
        </div>
      </div>
      <!-- access's history -->
      <div class="col-md-12 col-sm-12 col-xs-12 <%= hidden %>">
        <div class="x_panel">
          <div class="x_title">
            <h2>Histórico de Acesso</h2>

            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-7 col-sm-6"><strong>Nome</strong></div>
            <div class="col-xs-5 col-sm-6"><strong>Data de Entrada</strong></div>
          </div>

          <div class="clearfix"></div>

          <% @access_people.each do |a| %>
            <div class="row-info col-xs-12 col-sm-12 col-md-12">
              <div class="col-xs-7 col-sm-6"><%= a.user.name %></div>
              <div class="col-xs-5 col-sm-6"><%= a.created_at.strftime("%d/%m/%Y às %H:%M:%S") %></div>
            </div>
          <% end %>

          <div class="x_content">
            <br />
          </div>

        </div>
      </div>
      <!-- Lista de autorizados -->
      <div class="col-md-12 col-sm-12 col-xs-12 <%= hidden %>">
        <div class="x_panel">
          <div class="x_title">
            <h2>Lista de autorizados</h2>

            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-4 col-sm-3"><strong>Nome</strong></div>
            <div class="col-xs-2 col-sm-3"><strong>Orientador</strong></div>
            <div class="col-xs-3 col-sm-3"><strong>Tipo</strong></div>
            <div class="col-xs-3 col-sm-3"><strong>Data de expiração</strong></div>
          </div>

          <div class="clearfix"></div>

          <% @access_people.each do |a| %>
            <div class="row-info col-xs-12 col-sm-12 col-md-12">
              <div class="col-xs-4 col-sm-3"><%= a.user.name %></div>
              <div class="col-xs-2 col-sm-3"><%= a.user.orientador %></div>
              <div class="col-xs-3 col-sm-3"><%= a.user.type %></div>
              <div class="col-xs-3 col-sm-3"><%= a.created_at.strftime("%d/%m/%Y às %H:%M:%S") %></div>
            </div>
          <% end %>

          <div class="x_content">
            <br />
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<!-- /page content -->

<script>
$(document).ready(function() {
  $('#grant-access-btn').click(function() {
    $('#access-authorized').show();
    $('#input-names').focus();
  });
  $('#access-authorized-close-btn').click(function() {
    $('#access-authorized').hide();
  });
  $('#report_danger').click(function() {
    $('#access-authorized').hide();
  });


});

function revoke_access(e){
  if (window.confirm("Você tem certeza?")) {
    $('#user_id_revoke_').val(e.dataset.user);
    $('#laboratory_id_revoke_').val(e.dataset.lab);
    $('#commitdelete_').click();
  }
}
</script>

<style>
.row-info{
  margin-top: 0.5em;
}
#symbol_access{
  font-size: 20px;
  text-align: center;
}

#access-authorized{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 999;
  background: rgba(0,0,0, 0.5);
}

#access-authorized-inside{
  position: fixed;
  height: 400px;
  width: 70%;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -30%;
  margin-top: -200px;
}
</style>
