<!-- page content -->
<div class="right_col" role="main">
  <!-- top tiles -->

  <div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" id="TAH">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" id="TMA">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" id="UC">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Reports Não Resolvidos</span>
      <!-- Só pegar o número de reports que ainda estão marcados como não resolvidos -->
      <div class="count">4,567</div>
      <!-- Pega o número total de reports no sistema (vai ser usado na geração do código abaixo) -->
      <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Reports Totais </span>
      <!-- Pegar o número total de reports (que no caso foi feito acima) -->
      <div class="count">2,315</div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> DComp: Servidor Offline</span>
      <!-- Pegar nessa semana os horários em que tinham pcs ligados e que o lab estava fechado -->
      <div class="count">7,325</div>
      <!-- Pegar o mesmo dado só que da semana passada -->
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
    </div>
  </div>
  <!-- /top tiles -->

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="dashboard_graph">

        <div class="row x_title">
          <div class="col-md-6">
            <h3>Tempo Aberto <small>por dia</small></h3>
          </div>
          <div class="col-md-6">
            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
              <span>November 10, 2016 - November 17, 2016</span> <b class="caret"></b>
            </div>
          </div>
        </div>

        <div class="col-md-9 col-sm-9 col-xs-12">
          <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
          <div style="width: 100%;">
            <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height:270px;"></div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
          <div class="x_title">
            <h2>Top Campaign Performance</h2>
            <div class="clearfix"></div>
          </div>

          <div class="col-md-12 col-sm-12 col-xs-6">
            <div>
              <p>Facebook Campaign</p>
              <div class="">
                <div class="progress progress_sm" style="width: 76%;">
                  <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80"></div>
                </div>
              </div>
            </div>
            <div>
              <p>Twitter Campaign</p>
              <div class="">
                <div class="progress progress_sm" style="width: 76%;">
                  <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="30"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-6">
            <div>
              <p>Conventional Media</p>
              <div class="">
                <div class="progress progress_sm" style="width: 76%;">
                  <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="20"></div>
                </div>
              </div>
            </div>
            <div>
              <p>Bill boards</p>
              <div class="">
                <div class="progress progress_sm" style="width: 76%;">
                  <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="10"></div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="clearfix"></div>
      </div>
    </div>

  </div>
  <br />

  <div class="row">

    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Atividade Recente <small>LERIS</small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Settings 1</a>
                </li>
                <li><a href="#">Settings 2</a>
                </li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="dashboard-widget-content">

            <ul class="list-unstyled timeline widget">
              <li>
                <div class="block">
                  <div class="block_content">
                    <h2 class="title">
                      <a>Gustavo Rodrigues</a>
                    </h2>
                    <div class="byline">
                      <span>1 hora atrás</span>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="block">
                  <div class="block_content">
                    <h2 class="title">
                      <a>Henrique Eihara</a>
                    </h2>
                    <div class="byline">
                      <span>1 hora atrás</span>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="block">
                  <div class="block_content">
                    <h2 class="title">
                      <a>André Vieira</a>
                    </h2>
                    <div class="byline">
                      <span>2 horas atrás</span>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="block">
                  <div class="block_content">
                    <h2 class="title">
                      <a>Gustavo Rodrigues</a>
                    </h2>
                    <div class="byline">
                      <span>3 horas atrás</span>
                    </div>
                  </div>
                </div>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="x_panel tile fixed_height_320 overflow_hidden">
        <div class="x_title">
          <h2>Computadores com mais Reports</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Settings 1</a>
                </li>
                <li><a href="#">Settings 2</a>
                </li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="" style="width:100%">
            <tr>
              <th style="width:37%;">
                <p></p>
              </th>
              <th>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                  <p class="">Computador</p>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                  <p class="">Qtde</p>
                </div>
              </th>
            </tr>
            <tr>
              <td>
                <canvas id="canvasReport" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
              </td>
              <td>
                <table class="tile_info" id="reportMax">
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="x_panel tile fixed_height_320 overflow_hidden">
        <div class="x_title">
          <h2>Salas com mais aulas</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Settings 1</a>
                </li>
                <li><a href="#">Settings 2</a>
                </li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="" style="width:100%">
            <tr>
              <th>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                  <p class="">Salas</p>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                  <p class="">Qtde</p>
                </div>
              </th>
            </tr>
            <tr>
              <td>
                <canvas id="canvasSala" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
              </td>
              <td>
                <table class="tile_info" id="salasMax">
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>   

  </div>


  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="x_panel tile fixed_height_320 overflow_hidden">
        <div class="x_title">
          <h2>Computadores com mais Reports</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Settings 1</a>
                </li>
                <li><a href="#">Settings 2</a>
                </li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="" style="width:100%">
            <tr>
              <th>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                  <p class="">Computador</p>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                  <p class="">Qtde</p>
                </div>
              </th>
            </tr>
            <tr>
              <td>
                <canvas id="canvasRandom" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
              </td>
              <td>
                <table class="tile_info" id="algumidrandom">
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- /page content -->
<script>
$(document).ready(function() {
// TEMPO ABERTO HOJE
<% time_open_today = @labopen_today.to_json %>
time_open_today_chart = <%= raw time_open_today%>;

<% time_open_today_week = @labopen_today_and_week_ago.to_json %>
time_open_today_week_chart = <%= raw time_open_today_week%>;

var porcentagem = time_open_today_chart - time_open_today_week_chart;
porcentagem = porcentagem / time_open_today_chart;
porcentagem = porcentagem * 100;

var adicao;

if(time_open_today_chart > time_open_today_week_chart){
  adicao = " green";
}else if(time_open_today_chart < time_open_today_week_chart){
  adicao = " red";
}else{
  adicao = "";
}

$("#TAH").append("<span class='count_top'><i class='fa fa-user'></i> Tempo Aberto Hoje</span>");

if(time_open_today_chart < 60){
  $("#TAH").append("<div class='count"+ adicao +"'> &gt; 1 Min </div>");
}else if(time_open_today_chart > 60 && time_open_today_chart < 3600){
  $("#TAH").append("<div class='count"+ adicao +"'>"+ Math.floor(time_open_today_chart/60) +" Min </div>");
}else if(time_open_today_chart > 3600 && time_open_today_chart < 7200){
  $("#TAH").append("<div class='count"+ adicao +"'> 1 Hr </div>");
}else{
  $("#TAH").append("<div class='count"+ adicao +"'> "+ Math.floor(time_open_today_chart/3600) +" Hrs </div>");
}

if(time_open_today_chart > time_open_today_week_chart){
  $("#TAH").append("<span class='count_bottom'><i class='green'><i class='fa fa-sort-asc'></i>"+ Math.floor(porcentagem) +"%</i> que semana passada</span>");
}else if(time_open_today_chart < time_open_today_week_chart){
  $("#TAH").append("<span class='count_bottom'><i class='red'><i class='fa fa-sort-desc'></i>"+ Math.floor(porcentagem) +"%</i> que semana passada</span>");
}else{
  $("#TAH").append("<span class='count_bottom'><i class='gray'>Igual</i> a semana passada</span>");
}
});

$(document).ready(function() {
// TEMPO MÉDIO ABERTO ESSA SEMANA
<% time_open_week = @labopen_week.to_json %>
time_open_week_chart = <%= raw time_open_week%>;

<% time_open_last_week = @labopen_last_week.to_json %>
time_open_last_week_chart = <%= raw time_open_last_week%>;

var porcentagem = time_open_week_chart - time_open_last_week_chart;
porcentagem = porcentagem / time_open_week_chart;
porcentagem = porcentagem * 100;

var adicao;

if(time_open_week_chart > time_open_last_week_chart){
  adicao = " green";
}else if(time_open_week_chart < time_open_last_week_chart){
  adicao = " red";
}else{
  adicao = "";
}

$("#TMA").append("<span class='count_top'><i class='fa fa-clock-o'></i> Tempo Médio Aberto</span>");

if(time_open_week_chart < 60){
  $("#TMA").append("<div class='count"+ adicao +"'> &gt; 1 Min </div>");
}else if(time_open_week_chart > 60 && time_open_week_chart < 3600){
  $("#TMA").append("<div class='count"+ adicao +"'>"+ Math.floor(time_open_week_chart/60) +" Min </div>");
}else if(time_open_week_chart > 3600 && time_open_week_chart < 7200){
  $("#TMA").append("<div class='count"+ adicao +"'> 1 Hr </div>");
}else{
  $("#TMA").append("<div class='count"+ adicao +"'> "+ Math.floor(time_open_week_chart/3600) +" Hrs </div>");
}

if(time_open_week_chart > time_open_last_week_chart){
  $("#TAH").append("<span class='count_bottom'><i class='green'><i class='fa fa-sort-asc'></i>"+ Math.floor(porcentagem) +"%</i> que semana passada</span>");
}else if(time_open_week_chart < time_open_last_week_chart){
  $("#TAH").append("<span class='count_bottom'><i class='red'><i class='fa fa-sort-desc'></i>"+ Math.floor(porcentagem) +"%</i> que semana passada</span>");
}else{
  $("#TMA").append("<span class='count_bottom'><i class='gray'>Igual</i> a semana passada</span>");
}
});

$(document).ready(function() {
// Contador de usuários
<% count_users = @users_count.to_json %>
count_usuarios = <%= raw count_users%>;

$("#UC").append("<span class='count_top'><i class='fa fa-user'></i> Usuários Cadastrados</span>");
if(count_usuarios != 1)
  $("#UC").append("<div class='count'>"+count_usuarios+" usuários</div>");
else
  $("#UC").append("<div class='count'>"+count_usuarios+" usuário</div>");
//<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
});

$(document).ready(function() {
  //Data1 seria o total de horas por dia no qual o lab ficou aberto
  var data1 = [
    [moment().subtract(6, 'days').startOf('day').toDate(), 15/*aqui entra os role do banco de dados*/],
    [moment().subtract(5, 'days').startOf('day').toDate(), 5/*aqui entra os role do banco de dados*/],
    [moment().subtract(4, 'days').startOf('day').toDate(), 19/*aqui entra os role do banco de dados*/],
    [moment().subtract(3, 'days').startOf('day').toDate(), 25/*aqui entra os role do banco de dados*/],
    [moment().subtract(2, 'days').startOf('day').toDate(), 22/*aqui entra os role do banco de dados*/],
    [moment().subtract(1, 'days').startOf('day').toDate(), 18/*aqui entra os role do banco de dados*/],
    [moment().startOf('day').toDate(), 7/*aqui entra os role do banco de dados*/]
  ];

  //Data2 seria o pico de alunos utilizando o lab
  var data2 = [
    [moment().subtract(6, 'days').startOf('day').toDate(), 30/*aqui entra os role do banco de dados*/],
    [moment().subtract(5, 'days').startOf('day').toDate(), 25/*aqui entra os role do banco de dados*/],
    [moment().subtract(4, 'days').startOf('day').toDate(), 26/*aqui entra os role do banco de dados*/],
    [moment().subtract(3, 'days').startOf('day').toDate(), 20/*aqui entra os role do banco de dados*/],
    [moment().subtract(2, 'days').startOf('day').toDate(), 23/*aqui entra os role do banco de dados*/],
    [moment().subtract(1, 'days').startOf('day').toDate(), 19/*aqui entra os role do banco de dados*/],
    [moment().startOf('day').toDate(), 8/*aqui entra os role do banco de dados*/]
  ];
      $("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
        data1, data2
      ], {
        series: {
          lines: {
            show: false,
            fill: true
          },
          splines: {
            show: true,
            tension: 0.4,
            lineWidth: 1,
            fill: 0.4
          },
          points: {
            radius: 0,
            show: true
          },
          shadowSize: 2
        },
        grid: {
          verticalLines: true,
          hoverable: true,
          clickable: true,
          tickColor: "#d5d5d5",
          borderWidth: 1,
          color: '#fff'
        },
        colors: ["rgba(38, 185, 154, 0.38)", "rgba(3, 88, 106, 0.38)"],
        xaxis: {
          tickColor: "rgba(51, 51, 51, 0.06)",
          mode: "time",
          tickSize: [1, "day"],
          //tickLength: 10,
          axisLabel: "Date",
          axisLabelUseCanvas: true,
          axisLabelFontSizePixels: 12,
          axisLabelFontFamily: 'Verdana, Arial',
          axisLabelPadding: 20
        },
        yaxis: {
          ticks: 8,
          tickColor: "rgba(51, 51, 51, 0.06)",
        },
        tooltip: false
      });
});

<% chart_json = @report.to_json %>

$(document).ready(function(){
  pc_reports_json = <%= raw chart_json %>; // json criado

  var options = {
    legend: false,
    responsive: false
  };

  var colorClass = ['fa fa-square blue', 'fa fa-square green', 'fa fa-square purple', 'fa fa-square aero', 'fa fa-square red'];
  var labelClass = [];
  var dataClass = [];

  for(var i = 0; i < 5; i++){
    if(i < pc_reports_json.length){
      $("#reportMax").append("<tr><td><p><i class ='"+colorClass[i]+"'></i>"+pc_reports_json[i][0]+"</p></td><td>"+pc_reports_json[i][1]+"</td></tr>");
      labelClass.push(pc_reports_json[i][0]);
      dataClass.push(pc_reports_json[i][1]);
    }
  }

  new Chart(document.getElementById("canvasReport"), {
    type: 'doughnut',
    tooltipFillColor: "rgba(51, 51, 51, 0.55)",
    data: {
      labels: 
        labelClass,
      datasets: [{
        data: 
          dataClass,
        backgroundColor: [
          "#3498DB",
          "#26B99A",
          "#9B59B6",
          "#BDC3C7",
          "#E74C3C"
        ],
        hoverBackgroundColor: [
          "#49A9EA",
          "#36CAAB",
          "#B370CF",
          "#CFD4D8",
          "#E95E4F"
        ]
      }]
    },
    options: options
  });
});

$(document).ready(function() {

  var cb = function(start, end, label) {
    console.log(start.toISOString(), end.toISOString(), label);
    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
  };

  var optionSet1 = {
    startDate: moment().subtract(7, 'days'),
    endDate: moment(),
    minDate: '01/01/2012',
    maxDate: moment(),
    dateLimit: {
      days: 60
    },
    showDropdowns: true,
    showWeekNumbers: true,
    timePicker: false,
    timePickerIncrement: 1,
    timePicker12Hour: true,
    ranges: {
      'Today': [moment(), moment()],
      'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
      'Last 7 Days': [moment().subtract(6, 'days'), moment()],
      'Last 30 Days': [moment().subtract(29, 'days'), moment()],
      'This Month': [moment().startOf('month'), moment().endOf('month')],
      'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
    },
    opens: 'left',
    buttonClasses: ['btn btn-default'],
    applyClass: 'btn-small btn-primary',
    cancelClass: 'btn-small',
    format: 'MM/DD/YYYY',
    separator: ' to ',
    locale: {
      applyLabel: 'Submit',
      cancelLabel: 'Clear',
      fromLabel: 'From',
      toLabel: 'To',
      customRangeLabel: 'Custom',
      daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
      monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
      firstDay: 1
    }
  };
  $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
  $('#reportrange').daterangepicker(optionSet1, cb);
  $('#reportrange').on('show.daterangepicker', function() {
    console.log("show event fired");
  });
  $('#reportrange').on('hide.daterangepicker', function() {
    console.log("hide event fired");
  });
  $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
    console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
  });
  $('#reportrange').on('cancel.daterangepicker', function(ev, picker) {
    console.log("cancel event fired");
  });
  $('#options1').click(function() {
    $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
  });
  $('#options2').click(function() {
    $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
  });
  $('#destroy').click(function() {
    $('#reportrange').data('daterangepicker').remove();
  });
});
</script>

<script>
// Tempo aberto no mesmo dia, só que 1 semana atrás
// Tempo médio que ficou aberto essa semana
// Tempo médio que ficou aberto semana passada
// Número de usuários cadastrados no sistema
// Número de Reports não resolvidos
// Número total de reports
// Tempo sem energia essa semana
// Tempo sem energia semana passada
// 5 salas com mais aulas
// Últimos 4 reports de máquinas (e o horário que foram feitos)
// Últimos 4 acessos ao LERIS
</script>
