<div class="right_col" role="main">
  <div class="">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <a href="<%= dashboard_access_students_csv_path %>"><div class="btn btn-success">Baixar em Planilha</div></a>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Estudantes Ativos</h2>

            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-4 col-sm-3"><strong>Nome</strong></div>
            <div class="col-xs-2 col-sm-3"><strong>Orientador</strong></div>
            <div class="col-xs-3 col-sm-3"><strong>Tipo de Usuário</strong></div>
            <div class="col-xs-3 col-sm-3"><strong>Data de Expiração</strong></div>
          </div>

          <div class="clearfix"></div>

          <% if @authorized_people2.empty? %>
            <div class="col-xs-12 col-sm-12" style="text-align:center">
              Não há nenhum aluno de graduação e pós-graduação ativo no cadastro biométrico.
            </div>
          <% end %>
          <% @authorized_people2.each do |a| %>
            <div class="row-info col-xs-12 col-sm-12 col-md-12">
              <div class="col-xs-4 col-sm-3"><%= a.user.name %></div>

              <% if not a.user.professor.empty? %>
                <div class="col-xs-2 col-sm-3"><%= a.user.professor[0].name%></div>
              <% else %>
                <div class="col-xs-2 col-sm-3">Ninguém</div>
              <% end %>

              <div class="col-xs-3 col-sm-3">
                <% if a.user.type_user.eql? ("graduation") %>
                  <%= "Graduação" %>
                <% elsif a.user.type_upser.eql? ("post-graduate") %>
                  <%= "Pós-Graduação" %>
                <% elsif a.user.type_upser.eql? ("professor") %>
                  <%= "Professor" %>
                <% else %>
                  <%= "Técnico Administrativo" %>
                <% end %>
              </div>
              <div class="col-xs-3 col-sm-3"><%= (a.created_at + 1.year).strftime("%d/%m/%Y às %H:%M:%S") %></div>
            </div>
          <% end %>

          <div class="x_content">
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
