<h1><%= @labs.title %></h1>

<% time = Time.now %>
<% timeLab = @status.created_at + 360%>
<% if timeLab < time %>
  <!-- here is something like blackout or the internet cable is disconnected at ufscar -->
  <h1>Something happened in UFSCar</h1>
<% else %>
  <% if @status.isOpen %>
    <% a = @labs.subjects.where("begin <= ?", DateTime.now).where("end > ?", DateTime.now) %>
    <% if !a.empty? && !a[0].isFreeToJoin%>
      Right now it is happening <%= a[0].title %>, so be tuned to get your chair in lab<br>
      <%= a[0].begin %><br>
      <%= a[0].end %><br>
    <% else %>
      <h1>YEP IT IS OPEN!</h1><br>
      <%= a[0].title %><br>
      <%= a[0].begin %><br>
      <%= a[0].end %><br>
      <br>
    <% end %>
  <% else %>
    <h1> Nope :(</h1>
  <% end %>
<% end %>

<% @subjects.each do |u| %>
  <%= u.begin.hour %>:00 to <%= u.end.hour %>:00 <%= u.title %><br>
<% end %>
