<script>
$(document).ready(function() {
  $('#fullpage').fullpage({
    normalScrollElements: '#horario',
    loopBottom: true,
    loopBottom: true,
    loopBottom: true,
    loopBottom: true,
    loopBottom: true,
    loopBottom: true,
    loopBottom: true,
    loopBottom: true,
    loopBottom: true,
    loopBottom: true
  });
});
</script>

<% time = Time.now %>
<% timeLab = @status.created_at + 360 #360seg = 5min%>

<div id="fullpage">
  <div class="section active" id="section0" style="background-color: black");>
    <div class="container-fluid">
      <div class="jumbotron">
        <% if timeLab < time %>
          <h1>Sem sinal do dispositivo. :(</h1>
        <% else %>
          <% if @status.isOpen %>
            <% a = @labs.subjects.where("begin <= ?", DateTime.current).where("end > ?", (DateTime.current.to_time + 1.hours).to_datetime ) %>
            <% if !a.empty?# && !a[0].isFreeToJoin%>
              <h1> Acontencendo a aula <%= a[0].title %>!</h1>
              <%= a[0].begin %><br>
              <%= a[0].end %><br>
            <% elsif Time.now.hour > 23 && Time.now.hour < 8%>
              <h1> Está aberto! Mas deveria? :s</h1>
            <% else %>
              <h1>Está aberto! :)</h1>
            <% end %>
          <% else %>
          <% end %>
            <h1>Está fechado :(</h1>
        <% end %>
        <div id="horario" style="overflow: auto; height: 300px">
          <table class="table table-condensed" >
            <tr>
              <th>Horário</th>
              <th>Aula</th>
            </tr>
            <% @subjects.each do |u| %>
              <tr>
                <td><%= u.begin.hour %>:00</td>
                <td><%= u.title %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="section1" style="background-color: pink;">
    <div class="slide">
      <header>
        <h1>Mapa de laboratório</h1>  
      </header>
      <section>
        <div class="container-wrapper">
          <div class="containerPC">
            <div class="pc-wrapper">
              <div class="pc"> PC 1<br>Em uso</div>
            </div>
            <div class="pc-wrapper">
              <div class="pc"> PC 2<br>Livre</div>
            </div>
            <div class="pc-wrapper">
              <div class="pc"> PC 3<br>Manutenção</div>
            </div>
            <div class="pc-wrapper">
              <div class="pc"> PC 4<br>Manutenção</div>
            </div>
            <div class="pc-wrapper">
              <div class="pc"> PC 5<br>Manutenção</div>
            </div>
            <div class="pc-wrapper">
              <div class="pc"> PC 6<br>Manutenção</div>
            </div>
            <div class="pc-wrapper">
              <div class="pc"> PC 7<br>Manutenção</div>
            </div>
            <div class="pc-wrapper">
              <div class="pc"> PC 8<br>Manutenção</div>
            </div>
            <div class="pc-wrapper">
              <div class="pc"> PC 9<br>Manutenção</div>
            </div>
          </div>
          <div class="containerPC">
            <div class="pc-wrapper">
              <div class="pc"> PC 10<br>Manutenção</div>
            </div>
            <div class="pc-wrapper">
              <div class="pc"> PC 11<br>Manutenção</div>
            </div>
            <div class="pc-wrapper">
              <div class="pc"> PC 12<br>Manutenção</div>
            </div>
            <div class="pc-wrapper">
              <div class="pc"> PC 13<br>Manutenção</div>
            </div>
            <div class="pc-wrapper">
              <div class="pc"> PC 14<br>Manutenção</div>
            </div>
            <div class="pc-wrapper">
              <div class="pc"> PC 15<br>Manutenção</div>
            </div>
            <div class="pc-wrapper">
              <div class="pc"> PC 16<br>Manutenção</div>
            </div>
            <div class="pc-wrapper">
              <div class="pc"> PC 17<br>Manutenção</div>
            </div>
            <div class="pc-wrapper">
              <div class="pc"> PC 18<br>Manutenção</div>
            </div>
          </div>
          <div class="containerPC">
            <div class="pc-wrapper">
              <div class="pc"> PC 19<br>Manutenção</div>
            </div>
            <div class="pc-wrapper">
              <div class="pc"> PC 20<br>Manutenção</div>
            </div>
            <div class="pc-wrapper">
              <div class="pc"> PC 21<br>Manutenção</div>
            </div>
            <div class="pc-wrapper">
              <div class="pc"> PC 22<br>Manutenção</div>
            </div>
            <div class="pc-wrapper">
              <div class="pc"> PC 23<br>Manutenção</div>
            </div>
            <div class="pc-wrapper">
              <div class="pc"> PC 24<br>Manutenção</div>
            </div>
            <div class="pc-wrapper">
              <div class="pc"> PC 25<br>Manutenção</div>
            </div>
            <div class="pc-wrapper">
              <div class="pc"> PC 26<br>Manutenção</div>
            </div>
            <div class="pc-wrapper">
              <div class="pc"> PC 27<br>Manutenção</div>
            </div>
          </div>
        </div>     
      </section>
    </div>
  </div>
</div>
