<% time = Time.now %>
<% timeLab = @status.created_at + 360 #360seg = 5min%>

<%= render "report/reportpc" %>

<div id="fullpage">
  <div class="section active" id="section0");>
    <div class="slide">
      <div class="container-fluid">

        <% if notice != nil %>
          <div class="alert alert-success" role="alert"><%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          </div>
        <% end %>
        <% if alert != nil %>
          <div class="alert alert-danger" role="alert"><%= alert %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          </div>
        <% end %>

        <div class="jumbotron" style="margin-top: 5em">
          <% if timeLab < time %>
            <h1>Sem sinal do dispositivo. :(</h1>
          <% else %>
            <% if @status.isOpen %>
              <% a = @labs.subjects.where("begin_time<= ?", DateTime.current).where("end_time> ?", (DateTime.current.to_time + 1.hours).to_datetime ) %>
              <% if !a.empty?# && !a[0].isFreeToJoin%>
                <h1> Acontencendo a aula <%= a[0].title %>!</h1>
                <%= a[0].begin_time%><br>
                <%= a[0].end_time%><br>
              <% elsif Time.now.hour > 23 && Time.now.hour < 8%>
                <h1> Está aberto! Mas deveria? :s</h1>
              <% else %>
                <h1>Está aberto! :)</h1>
              <% end %>
            <% else %>
              <h1>Está fechado :(</h1>
            <% end %>
          <% end %>
          <iframe id="table-clock" src="/LSO/subjects/" style="overflow: auto; width: 100%" frameborder ="0">
          </iframe>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="container-fluid">
        <div id="map" class="jumbotron" style="margin-top: 5em" align="center">
            <h2>Mapa de Computadores</h2>
            <% @computers.each do |pc| %>
              <div class="pc-wrapper" data-id="<%= pc.physical_id %>">
                <div class="<%= pc.last_status%>"><%= pc.physical_id %></div>
              </div>
            <% end %>

            <div class="container-label" style="text-align: center">
              <div class="label_status" style="background-color: green"></div> Livre
              <div class="label_status" style="background-color: red"></div> Ocupado
              <div class="label_status" style="background-color: gray"></div> Em manutenção
            </div>
            <div style="text-align: center">
              <button id="report-btn" class="btn btn-default">
                <i class="glyphicon glyphicon-exclamation-sign"></i>
                Reportar Máquina
              </button>
              <%= link_to laboratory_reports_path(@labs) do %>
                <div id="report-btn" class="btn btn-default">
                  <i class="glyphicon glyphicon-th-list"></i>
                  Exibir Reports
                </div>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
  <!--  <div class="section" id="section1" style="background-color: pink;">

    </div>!-->
</div>
<style>

#table-clock{
  height: 350px;
}
#map {
  height: 500px;
}
</style>
