<%= render "report_individual" %>
<div class="container" style="margin-top: 100px">
  <div class="jumbotron">
    <h2>Reports</h2>
    <% i = 0 %>
    <% @report.each do |u| %>
      <% if u.resolution == "pending" %>
        <% resolution = "fa-times" %>
        <% text = "Não resolvido" %>
        <% state = "danger" %>
        <% else if u.resolution == "verifying" %>
          <% resolution = "fa-exclamation" %>
          <% text = "Analisando" %>
          <% state = "warning" %>
        <% else %>
          <% resolution = "fa-check" %>
          <% text = "Resolvido" %>
          <% state = "success" %>
        <% end %>
      <% end %>
      <div class="row report" data-id="<%= i %>">
        <div class="col-xs-12 col-sm-3 date">
          <strong><%= u.created_at.strftime("%d/%m/%Y") %></strong><hr />
        </div>
        <div class="col-xs-4 col-sm-3 description">
          <%= u.description.at(0..50) %>...
        </div>
        <div class="col-xs-2 col-sm-3 lab">
          <%= u.computer_id %>/<%= u.laboratory_initials %>
        </div>
        <div class="col-xs-6 col-sm-3 state">
          <button type="button" class="btn btn-sm btn-<%= state %>"><i class="fa <%= resolution %>" aria-hidden="true"></i> <%= text %></button>
        </div>
      </div>
      <% i = i + 1 %>
    <% end %>
    <% if @report.empty? %>
      <div class="alert alert-success" role="alert"><strong>Nenhum report encontrado!</strong> Esta pensando em fazer um?</div>
    <% end %>
  </div>
</div>
<style>
.row:hover{
  background-color: rgba(0,0,0, 0.05);
}
.row{
  vertical-align: center;
  padding-bottom: 1.5em;
}
.row .description{
  word-wrap: break-word;
}
.row .lab{
  text-align: right;
}
.row .state{
  text-align: right;
}
.row:not(:first-child){
  padding-top: 1.5em;
}

.date{
  margin-bottom: 10px;
}

/* clearfix for floats */
.date:after {
  content: "";
  display: table;
  clear: both;
}

.date strong {
  padding-right: 10px;
  float: left;
}

.date hr {
  border:1px solid #DDD;
  border-width: 1px 0 0 0;
  margin-top: 11px;
}

  @media screen and (min-width: 768px) {
    .date hr {
      border: 0px solid #DDD;
      border-width: 0px 0 0 0;
      margin-top: 11px;
    }
  }
</style>
<% reportjson = @report.to_json %>
<script>
$(document).ready(function() {
  json = <%= raw reportjson %>;
});
</script>
