<html>
  <head>
    <title>SiGLa - Sistema de Gerenciamento de Laboratórios</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="manifest" href="manifest.json">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>

  <body>
    <div class="navbar-fixed-top navbar-inverse">
      <a class="navbar-brand">
        LSO
      </a>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to('Home', '/' )%></li>
            <li><%= link_to('Sobre', '/about' )%></li>
            <% if user_signed_in? %>
              <li role="separator" class="divider"></li>
              <li><a href="/users/edit">Perfil<span class="sr-only">(current)</span></a></li>
              <% if current_user.function == "admin" %>
                <li><%= link_to('Dashboard', '/dashboard/') %></li>
              <% end %>
              <li role="separator" class="divider"></li>
              <li><%= link_to('Sair', destroy_user_session_path, :method => :delete) %></li>
            <% else %>
              <li role="separator" class="divider"></li>
              <li><a href="/users/sign_in">Login<span class="sr-only">(current)</span></a></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
    <%= yield %>
    <script>
$(document).ready(function() {
  if($('html').hasClass('fp-enabled')){
    $.fn.fullpage.destroy('all');
  }
  $('#fullpage').fullpage({
    normalScrollElements: '#horario',
    loopHorizontal: false,
    autoScrolling:false
  });
});
    </script>
  </body>
</html>
